auto-save-list/
backups/
elpa/
slime/
eln-cache/
snippets/
swank/
nrepl.el/
games/
eshell/
thumbs/
image-dired/
transient/
url/
var/
ac-comphist.dat
places
tramp
projectile-bookmarks.eld
projectile.cache
bookmarks
ido.last
recentf
history
projects
network-security.data
.*
*~
#~
