auto-save-list/
backups/
elpa/
slime/
snippets/
swank/
nrepl.el/
games/
eshell/
thumbs/
image-dired/
url/
var/
ac-comphist.dat
places
tramp
projectile-bookmarks.eld
projectile.cache
bookmarks
ido.last
recentf
.*
*~
#~
